nav {
  position: absolute;
  width: 0px;
  background: #26698D;
  top:0px;
  left:0px;
  overflow: hidden;
  text-align: center;
  padding-top: 60px;
  height: 100%;

  .fa-times {
    position: absolute;
    top:0;
    right:0;
    display: block;
    color:white;
    padding: 15px;
    font-size: 24px;
    &:hover {
      @extend .animated;
      @extend .rubberBand;
      cursor: pointer;
      cursor: hand;
    }
  }
  h1 {
    color:white;
    text-shadow: 1px 1px black;
    font-family: lobster;
    font-size: 60px;
    transform: rotate(-5deg);
  }
  ul {
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    li {
      padding: 10px 15px 10px 15px;
      white-space: nowrap;
      overflow: hidden;
      &:hover {
        color:white;
        padding: 10px;
        background: #1EB5F2;
        transition-duration: 0.2s;
        transform: scale(1.3, 1.3);
        cursor: pointer;
        cursor: hand;
      }
      a {
        color:white;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 18px;


      }
    }
  }
}
